.overview-section {
  position: relative;
  width: 100%;
  padding: 4rem 2.2rem;
}

.overview-container {
  margin: auto;
  position: relative;
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}

.overview-container .overview-content .overview-logo {
  width: 20rem;
}

.overview-content .overview-label-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.overview-content .overview-label-container .overview-label-icon {
  width: 2rem;
}

.overview-content {
  /* flex: 1; */
  z-index: 2;
  width: 50%;
  margin-left: 5rem;
  text-align: justify;
}

.overview-title-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.overview-label {
  font-size: 1.6rem;
  color: #002B5B;
  font-weight: 400;
  font-family: var(--ff-pacifico);
}

.overview-title {
  font-size: 3rem;
  font-weight: 500;
  color: #111;
  font-family: var(--ff-ubuntu);
}

.overview-subtitle {
  font-style: italic;
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
  color: #333;
  font-family: var(--ff-playpen);
}

.overview-description {
  font-size: 1.6rem;
  color: #444;
  margin-bottom: 1.5rem;
  line-height: 1.7;
  font-family: var(--ff-jakarta);
}

.unique-title {
  font-size: 1.8rem;
  margin-top: 2rem;
  font-weight: 600;
  color: #111;
  font-family: var(--ff-roboto);
}

.unique-title-highlight {
  color: var(--primary-clr);
}

.overview-highlight {
  font-size: 1.4rem;
  color: #222;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: var(--ff-roboto);
}

.overview-highlight strong {
  font-size: 1.4rem;
  color: var(--primary-clr);
  margin-bottom: 1rem;
}

.overview-list {
  font-size: 1.4rem;
  color: #333;
  line-height: 1.6;
  padding-left: 1rem;
}

.overview-list li {
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
  list-style: disc;
}

.overview-list li::marker {
  color: var(--primary-clr);
}

/* Right-side image styling */
.overview-image {
  position: absolute;
  top: -35rem;
  right: -2.7rem;
  height: 100%;
  max-width: 50%;
  width: 100%;
  z-index: 1;
}

.overview-image img {
  width: 100%;
  object-fit: cover;
}

/* About shodh Shikhar Page css star */

.showcasing-img-section2 {
  position: relative;
  flex: 1 1 25rem;
  max-width: 30rem;
  border-radius: 1.5rem;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  z-index: 5;
}

.showcasing-img {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  z-index: 2;
  border-radius: 1.5rem;
}

.showcasing-img-section::before {
  content: "";
  position: absolute;
  top: -2.5rem;
  left: 2.5rem;
  width: 100%;
  height: 100%;
  background: rgba(235, 235, 235, 0.75);
  z-index: 1;
  border-radius: 1.5rem;
}

.showcasing-img-section2::before {
  content: "";
    position: absolute;
    bottom: -2.5rem;
    right: 2.5rem;
    width: 100%;
    height: 100%;
    background: rgba(235, 235, 235, 0.75);
    z-index: 1;
    border-radius: 1.5rem;
}

/* About shodh Shikhar Page css end */

@media screen and (min-width: 1700px) {
  .overview-content {
    width: 54%;
  }

  .overview-label {
    font-size: 2.5rem;
  }

  .overview-content .overview-label-container .overview-label-icon {
    width: 4.5rem;
  }

  .overview-title {
    font-size: 3.7rem;
  }

  .overview-container .overview-content .overview-logo {
    width: 40rem;
}

.overview-subtitle {
  font-size: 2rem;
}

  .overview-description {
    font-size: 1.8rem;
  }

  .unique-title {
    font-size: 3.5rem;
  }

  .overview-highlight {
    font-size: 2rem;
  }

  .overview-list {
    font-size: 2.2rem;
 }

 .overview-section {
  padding: 4rem 3.5rem;
 }
}

/* Responsive */
@media (max-width: 1024px) {
  .overview-container {
    flex-direction: column;
  }
  .overview-content {
    width: 100%;
  }

  .overview-image {
    display: none;
  }

  .overview-image img {
    height: auto;
  }
}

@media screen and (max-width: 480px) {
  .overview-title-container {
    flex-direction: column;
    align-items: start;
  }
}
