.contact-section {
  padding: 6rem 8rem;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
}

.contact-container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
}

.contact-section .contact-container .form-container .contact-title {
    font-size: 2.7rem;
    text-align: center;
}

.slider-container {
  flex: 1 1 23%;
  /* max-height: 500px; */
  max-height: 100vh;
  overflow: hidden;
}

.mySwiper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form-container {
  flex: 1 1 55%;
  display: flex;
  flex-direction: column;
}

.form-steps {
  display: flex;
  overflow-x: auto;
  padding: 2.5rem;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#multiStepForm {
  min-height: 65rem;
    border: 1.29px solid rgba(239, 240, 246, 1);
    padding: 1.7rem 2.5rem;
    border-radius: 1rem;
    box-shadow: 0px 6.43px 18.01px 0px rgba(8, 15, 52, 0.04);
    position: relative;
}

.step-tab {
  flex: 0 0 auto;
  padding: 1.5rem 2.5rem;
  background: var(--white);
  border-radius: 1.5rem;
  margin-right: 0.5rem;
  text-align: center;
  cursor: pointer;
  font-size: 1.35rem;
  color: #6F6C90;
  box-shadow: 0px 5px 14px 0px rgba(8, 15, 52, 0.04);
  display: flex;
  align-items: center;
  gap: 0.7rem;
  font-family: var(--ff-dmsans);
  font-weight: 600;
  position: relative;
}

.step-tab img {
    max-width: 5rem;
    width: 4rem;
}

.step-tab .step-tab-content {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.step-tab-content span:first-child {
    font-size: 1.4rem;
    font-weight: normal;
    margin-bottom: .5rem;
}

.step-tab-content span:last-child{
  font-size: 1.6rem;
}

.step-tab.active {
  
  border: 1px solid var(--primary-clr);
  color: var(--primary-clr);
}

.form-steps .step-tab::after {
    content: "";
    position: absolute;
    right: -1.7rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1.75rem;
    height: 3px;
    background-color: rgba(160, 158, 158, 0.541);
    
    transition: all 0.5s ease-in-out;
}

.form-steps .step-tab.active::after {
  content: "";
    position: absolute;
    right: -1.7rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1.75rem;
    height: 3px;
    background-color: var(--primary-clr);
    transition: all 0.5s ease-in-out;
}

.form-steps .step-tab:last-child::after {
    display: none;
}

.form-slide {
  display: none;
  flex-direction: column;
  gap: 1.5rem;
  animation: slide-in 0.6s ease forwards;
}

.form-slide.active {
  display: flex;
}

.form-slide input, .form-slide textarea {
  padding: 2rem 2rem;
  border-radius: 1rem;
  color: #8A8A8A;
  width: 100%;
  border: 1px solid rgba(208, 208, 208, 1);
  font-size: 1.6rem;
  font-family: var(--ff-roboto);
  resize: none;
}

.form-slide input:focus, .form-slide textarea:focus{
  border: 2px solid var(--primary-clr);
}


.form-slide .form-one-name-section {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.form-slide .form-one-name-section .form-dropdown select {
  padding: 2rem 2rem;
  border-radius: 1rem;
  font-size: 1.6rem;
    color: #8A8A8A;
    border: 1px solid rgba(208, 208, 208, 1)
}

.flex-inputs {
    flex: 1;
    display: flex;
    gap: 0.5rem;
}


.form-heading {
  font-size: 2rem;
  font-weight: 500;
  color: var(--white);
  background-color: var(--primary-clr);
  width: fit-content;
  padding: 1.5rem 2.9rem;
  position: relative;
  left: -2.5rem;
  border-top-right-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
}

.contact-form-nav-buttons-wrapper {
    position: fixed;
    bottom: -8rem;
    right: 0rem;
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

.contact-form-nav-buttons-wrapper2 {
    position: fixed;
    bottom: -20rem;
    right: 0rem;
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

.contact-form-nav-buttons-wrapper3 {
    position: fixed;
    bottom: -25rem;
    right: 0rem;
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

.contact-form-nav-buttons-wrapper4 {
    position: fixed;
    bottom: -16rem;
    right: 0rem;
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

.contact-form-nav-buttons {
    border: 1px solid rgba(16, 22, 22, 0.1);
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: fit-content;
}

.contact-form-nav-buttons button , #addAuthorBtn {
    background-color: var(--primary-clr);
    color: var(--white);
    padding: 1rem 5rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 500;
}

.nav-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.authors-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 200px;
  overflow-y: auto;
}

.author-row {
  display: flex;
  gap: 1rem;
}

.first-radio-group {
    display: flex;
    font-size: 1.5rem;
    gap: 1rem;
    margin-bottom: 1rem;
    justify-content: space-between;
}

.first-radio-group .radio-group {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    text-wrap: nowrap;
    align-items: center;
    gap: 1rem;
}

.first-radio-group .radio-group label{
  font-size: 1.9rem;
  font-weight: 200;
}

.category-group, .theme-group {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.form-slide .last-slide-paragraph {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
}

.form-slide .last-slide-paragraph span {
  margin-bottom: 1rem;
}

.form-slide .last-slide-paragraph-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.toastify {
  font-size: 1.5rem;
  padding: 1.5rem 1rem;
}

@keyframes slide-in {
  from {
    transform: translateX(50%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

/* Tabs (max-width: 1700px) and (min-width: 1024px)*/

@media screen and (max-width: 1600px) and (min-width: 1024px){
    .step-tab {
        padding: 1.5rem 1.5rem;
    }
    .step-tab-content span:first-child{
      font-size: 1.2rem;
    }
    .step-tab-content span:last-child{
      font-size: 1.3rem;
    }
    #multiStepForm {
      min-height: 59rem;
    }
    .form-heading{
      font-size: 1.5rem;
    }
    .form-slide .form-one-name-section .form-dropdown select{
      padding: 1.5rem;
    }
    .form-slide input, .form-slide textarea{
      padding: 1.5rem;
    }
    .contact-form-nav-buttons-wrapper2{
      bottom: -19rem;
    }
    .first-radio-group .radio-group label{
      font-size: 1.5rem;
      font-weight: 500;
    }
    .contact-form-nav-buttons-wrapper3{
      bottom: -22rem;
    }
    .contact-form-nav-buttons-wrapper4{
      bottom: -15rem;
    }
}

/* Tabs (max-width: 700px) and (min-width: 200px)*/

@media screen and (max-width: 700px) and (min-width: 200px){
  .form-heading{
    font-size: 1.5rem;
  }
  input[type="radio"]{
    width: 10px;
  }
  .contact-form-nav-buttons-wrapper, .contact-form-nav-buttons-wrapper2, .contact-form-nav-buttons-wrapper3, .contact-form-nav-buttons-wrapper4{
    position: static;
    flex-wrap: wrap;
    justify-content: center;
  }
  .first-radio-group{
    flex-wrap: wrap;
  }
  .contact-section .contact-container .form-container .contact-title{
    margin: 2rem 0rem;
  }
  .first-radio-group{
    max-width: 30rem;
  }
  .first-radio-group .radio-group label{
    font-size: 1.5rem;
    display: block;
    text-wrap-mode: wrap;
  }
  .contact-container{
    display: block;
  }
  .contact-form-nav-buttons button, #addAuthorBtn{
    width: 100%;
  }
  .contact-form-nav-buttons{
    width: 100%;
  }
  .author-row{
    flex-direction: column;
  }
  .form-slide .last-slide-paragraph-wrapper{
    grid-template-columns: repeat(1, 1fr);
  }
  /* #multiStepForm{
    width: 80%;
  } */
}

@media screen and (max-width: 1000px) and (min-width: 20px){
  .first-radio-group{
    max-width: 30rem;
  }
  .slider-container{
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .contact-section {
    padding: 2rem;
  }



  .form-steps {
    display: none;
  }

  .form-steps::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (max-width: 786px) {

  .slider-container {
    display: none;
  }
  
}

@media screen and (max-width: 480px) {
  .contact-section .contact-container .form-container .contact-title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
  }

  .form-steps {
    justify-content: start;
    overflow-x: scroll;
    display: none;
}

.form-heading {
    font-size: 1.5rem;
  }

  .form-slide .form-one-name-section {
    flex-direction: column;
    align-items: start;
  }

  .form-dropdown {
    width: 100%;
  }

  .form-slide .form-one-name-section .form-dropdown select {
    width: 100%;
  }

  .flex-inputs {
    flex-direction: column;
    width: 100%;
}
}

/* Toastify CSS */

.toastify {
  padding: 12px 20px;
  color: #fff;
  display: inline-block;
  box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.12),
    0 10px 36px -4px rgba(77, 96, 232, 0.3);
  background: -webkit-linear-gradient(315deg, #73a5ff, #5477f5);
  background: linear-gradient(135deg, #73a5ff, #5477f5);
  position: fixed;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
  max-width: calc(50% - 20px);
  z-index: 2147483647;
}
.toastify.on {
  opacity: 1;
}
.toast-close {
  opacity: 0.4;
  padding: 0 5px;
}
.toastify-right {
  right: 15px;
}
.toastify-left {
  left: 15px;
}
.toastify-top {
  top: -150px;
}
.toastify-bottom {
  bottom: -150px;
}
.toastify-rounded {
  border-radius: 25px;
}
.toastify-avatar {
  width: 1.5em;
  height: 1.5em;
  margin: 0 5px;
  border-radius: 1rem;
}
.toastify-center {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  max-width: fit-content;
}
@media only screen and (max-width: 360px) {
  .toastify-left,
  .toastify-right {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    max-width: fit-content;
  }
}
